
// main.less
// for midianomapa.org
// by @f03lipe

@import "common.less";
@import "navbar.less";


html {
	height: 100%;
}

body {
	.transition(padding,.2s,linear);
	height: 100%; margin: 0; padding: 0;
	font-family: Montserrat, "Open Sans", sans-serif;
	overflow-y: hidden;
}

#msg { font-weight: bold; }


[data-action=exit] {
	.reset-button();
	color: white;
	opacity: 0.9;
	&:hover {opacity:1;}
}

.modal-backdrop {
	height: 100%;
}

.modal {
	.modal-content {
		border-radius: 3px;
	}
}

#calendar {
	display: none;

	position: absolute;
	z-index: 4;
	top: 10%;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	border-radius: 30px;
	text-align: center;

	#table {

		[data-action=exit] {
			position: absolute;
			top: 3px; right: 4px;
			.reset-button();
			color: white;
			opacity:0.9;
			&:hover {opacity:1;}
		}

		box-shadow: 3px 5px 15px #222;
		position: relative;
		z-index: 5;
		display: block;
		background: #e74c3c;
		border-bottom: 2px solid white;
		// padding-bottom: 1px;
		text-align: center;

		.month {
			color: white;
			font: 300 50px/80px Montserrat, "Open Sans", sans-serif;
			text-transform: uppercase;
			padding: 30px 0;
		}

		table {
			box-shadow: 3px 5px 15px #222;
			padding: 20px;
			width: 100%;
			position: relative;
			z-index: 6;
			border-collapse: separate;
			border-spacing: 4px;
			background: #ecf0f1;

			td {
				position: relative;
				.circles {
					position: absolute;
					top: 0; bottom: 0;
					right: 0; left: 0;
					text-align:left;
					overflow: hidden;
					span {
						float: left;
						display: inline-block;
						height: 7px;
						i {
							vertical-align:top;
							font-size: 7px;
							// line-height: 5px;
							padding-left: 2px;
						}
					}
				}

				font-size: 30px;
				line-height: 45px;
				border: 1px solid #dfdfdf;
				text-align: center;
				vertical-align: middle;
				color: #2c3e50;
				width: 70px;
				cursor: pointer;
				&:hover { background: #2980b9; color: white; }

				&.bygone {
					color: lighten(#4c4e50,40%);
					&:hover { background: none; }
				}

				&.today {
					color: white;
					background: #c0392b;
				}

				&.current {
					color: white;
					background: #3498db;
				}
			}

			thead {
				td {
					font-weight: 500;
					font-size: 20px;
					color: #e74c3c;
					text-transform: uppercase;
					vertical-align: bottom;
					border: none;
					&:hover { background: none; color: inherit; }
				}
			}
		}
	}


	.blackout {
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		background: rgba(0,0,0,.8);
	}
}

#map-wrapper {
	position: relative;
	height: 95%;
	color: #333;

	#map {
		width: 100%;
		height: 100%;

		.gm-style-iw, .gm-style-iw > div, .gm-style-iw > div > div {
			overflow: visible !important;
		}
		.info-window {
			&, span, div, button, a {
				font-size: 12px;
				font-family: "Open Sans";
			}

			span {
				font-size: 11px;
			}

			color: #333;
			font-family: "Open Sans", Arial;

			.full-width {
				margin-left: -15px;
				margin-right: -38px;
			}

			.title {
				font-size: 13px;
				font-family: "Open Sans";
			}

			.label {
				font-weight: bold;
				margin-right: 5px;
				border-radius: 0;
			}

			.full-width-block {
				.full-width();
				text-align: center;
			}

			.description {
				.full-width();
				margin-bottom: 0;
				background: #EEE;
				color: black;
				border: 1px solid #BBB;
				p {
					font-size: 11px;
					font-family: "Open Sans";
					font-weight: normal;
					padding: 10px;
				}
			}

			& > div {
				margin: 10px 0;
			}

			&.iw-event { }

			&.iw-ninja {
				.block {
					vertical-align: top;
					display: inline-block;
					margin-right: 3px;
					margin-bottom: 3px;
				}
				[data] {
					font-weight: bold;
					float: left;
					clear: left;
					margin-bottom: 2px;

					&[data=name] {
						font-size: 18px;
					}
				}
			}
		}
	}

	#event-list {
		position: absolute;
		top: 0; right: 0; bottom: 0;
		width: 230px;
		overflow: auto;
		z-index: 1;
		color: #444;
		display: none;
		.title {
			font: 14px "Open Sans", Arial;
			padding: 5px;
		}

		li {
			list-style: none;
			display: block;
			width: 100%;
			border: 1px solid #AAA;
			text-align: left;

			.label {
				margin: 2px 0;
				display: block;
				font-size: 12px;
				&:hover { opacity: .9; }
				overflow: hidden;
			}

			background: white;
			margin-bottom: 5px;
			padding: 5px;
			cursor: pointer;

			&:hover { background: lighten(#ecf0f1,10%); }
		}

		&&.hid, &.hid {
			right: -670px;
		}

		overflow: auto;
	}
}



.logo-font {
	font-family: "Open Sans";
	font-weight: 800;
}

.popover {
	border-radius: 0;
	.popover-content {
		// width: 700px;
		text-align: justify;
		font-size: 13px;
	}
}

#add-event {
	position: absolute;
	top: 250px;
	right: 50%;
	width: 680px;
	margin-right:-340px;
	display: none;
	z-index: 5;

	.blackout {
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		background: rgba(0,0,0,.8);

		[data-action=exit] {
			position: absolute;
			top: 55px; right: 15px;
			.reset-button();
			color: white;
			opacity:0.9;
			&:hover {opacity:1;}
		}
	}

	form {
		&.has-success { border-color: #2ecc71; }
		&.has-warning { border-color: #f1c40f; }
		&.has-error { border-color: #c0392b; }

		position: relative;
		width: 100%;
		z-index: 6;

		border: 5px solid #95a5a6;
		background: #ecf0f1;
		font: 21px "Open Sans", Arial;

		.box-shadow(0,0,10px,.4);
		.transition(all, 0.5s, ease);

		.bar {
			width: 671px;
		}

		label {
			position: absolute;
			top: -39px;
			color: white;
			.text-shadow(0,0,10px,.4);
		}

		input {
			width: 590px;
			padding: 0 10px;
			line-height: 50px;

			border: none;
			vertical-align: middle;
			outline: none;
			text-align: right;
		}

		button {
			.transition(all, 0.5s, ease);

			.reset-button();
			width: 80px;
			line-height: 50px;
			background: #2ecc71;
			color: white;
			padding: 0;
			margin-left: -5px;
			&:hover { background: #3edc81; }
			&:active { .inner-shadow(0,0,5px,.4); }
			&::-moz-focus-inner { border: 0; padding: 0; } // Reset for mozilla.
		}

		&.has-warning button {
			background: #f1c40f;
		}

		&.has-error button {
			background: #c0392b;
			&:hover {
				background: #d0493b; .fa:before { content: "\f014"; }
			}
		}
	}
}

body {
	.tooltip {
		font-family: Montserrat, "Open Sans", sans-serif;
	}
}

.navigation-icons {
	position: absolute;
	z-index: 1;
	bottom: 20px;
	right: 20px;
	width: 50px;

	& > button {
		.ultra-reset-button;
		vertical-align: middle;
		color: white;
		padding: 0;
		margin: 0;
		.box-shadow(0, 0, 5px, rgba(0,0,0,.4));
		border-radius: 50px;
		height: 50px;
		width: 50px;
		display: block;
		float: right;
		.transition;

		margin-top: 10px;

		&:focus {
			border: 0;
			outline: 0;
		}
		&:hover {
			.box-shadow(0, 0, 5px, rgba(0,0,0,.1));
			// height: 52px;
			// width: 52px;
			// margin-bottom: -1px;
			// margin-top: 9px;
			// margin-right: -1px;
		}
		i {
			font-size: 25px;
		}
	}

	[data-action=add-event] {
		background: #2fade5;
	}

	[data-action=add-camera] {
		background: @CYELLOW;
	}

	[data-action=list-events] {
		background: #FE3F44;
	}

	[data-action=show-calendar] {
		background: #e74c3c;
	}

	[data-action=centralize] {
		background: #444;
	}
}

#social-share {
	margin-right: -20px;
	& > * {
		display: inline-block;
		margin-left: 7px;
	}
}

@media only screen and (max-width: 450px) {
	.navbar-brand .title {
		display: none;
	}
}

@media all and (max-width: 770px) {

	#map-wrapper {
		position: static;
		width: 100%;

		#date-wrapper {
			position: static;
			font-size: 50px;
			bottom: -200px;
			left: 0; right: 0;
			padding: 0;
			button {
				width: 100%;
			}

			#date, .arrow { display: none !important; }
		}
	}

	footer {
		font-size: 12px;
		position: static;
		// height: 90px;
		bottom: 0;
		width: 100%;
		padding: 10px;
		font-weight: light;

		.row-fluid > * {
			min-height: 40px;
			text-align: center;
		}
	}

	.navbar {
		.box-shadow(0,0,15px,.3);

		.navbar-text {
			width: 100%;
			text-align: center;
			font-weight: bold;
		}
	}

	.calendar {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		table { font-size: 20px; }
	}

}

