<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<title>Mídia No Mapa</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="csrf-token" content="{{ token }}">
		<meta name="description" content="Acompanhe ao vivo às manifestações no Brasil, com links da mídia indepente.">
		<meta name="keywords" content="Mídia No Mapa, Copa 2016, Olimpíadas, Protesto, Brasil, Mídia Independente, Ninja, Facebook, evento, events, 2013, June Protests, Brasil">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="width=device-width">

		<meta property="og:title" content="Mídia No Mapta" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.midianomapa.org/" />
		<meta property="og:image" content="http://midianomapa.org/static/img/logo.png" />
		<meta property="og:site_name" content="Mídia No Mapa" />
		<meta property="og:description" content="Acompanhe as Manifestações pelo Brasil." />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></link>

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,500,700|Open+Sans:400italic,400,300,600,700,800">
		<link rel="stylesheet" href="/static/css/main.min.css">
		<script	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyByxi20qUAiWpTmUn9z2qi_iCGVyS_q-zE&sensor=true"></script>
	</head>
	<body>
		{% include "lib/navbar.html" %}

		<div class="modal fade" id="about">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Sobre o site</h4>
		      </div>
		      <div class="modal-body">
						<p>O midianomapa.org te mostra onde e quando vão acontecer as próximas manifestações pelo Brasil, segundo o Facebook. O nosso programa procura por eventos públicos e os identifica no mapa. E se você cobre as manifestações, pode colocar o link para o seu stream no mapa! Para isso, clique no botão amarelo com a câmera. (você precisa ter uma conta no TwitCasting)
						<div>
							<div><strong>midianomapa.org &reg; 2013-2015</strong></div>
							<div>Esse projeto é <a href="//github.com/f03lipe/midianomapa">open source</a>.</div>
						</div>
						<p>
							<small>status: {{ stats.events }} eventos {% if (stats.ninjas) %}e {{ stats.ninjas }} ninja{{ stats.ninjas>1?'s':'' }} {% endif %} distribuídos pelo Brasil.</small>
						</p>
						<div>
								<!-- <div class="g-plus" data-action="share" data-annotation="bubble"></div> -->
								<div class="fb-like" data-href="http://www.midianomapa.org" data-width="150" data-height="25" data-colorscheme="light" data-layout="button_count" data-action="recommend" data-show-faces="true" data-send="false"></div>
								<br />
								<br />
								<a href="https://twitter.com/share" class="twitter-share-button" data-text="Esse site mostra os protestos acontecendo no Brasil usando Facebook! Olha só: midianomapa.org" data-hashtags="midianomapa">Tweet</a>
							</div>
			      </div>
					</div>
		    </div>
		  </div>
		</div>

    <div class="navigation-icons" id="navigation-icons">
      <button id="nav-add-event" data-action="add-event"
      	data-toggle="tooltip" data-container="body" data-placement="left" title="Adicionar evento" data-trigger="manual">
        <i class="icon-add"></i>
      </button>
      <button onClick="location.href='/ninja'" data-action="add-camera"
      	data-toggle="tooltip" data-container="body" data-placement="left" title="Adicionar cobertura ao vivo" data-trigger="manual">
        <i class="icon-voice-chat"></i>
      </button>
      <button id="calendar-icon" data-action="show-calendar"
      	data-toggle="tooltip" data-container="body" data-placement="left" title="Abrir calendário" data-trigger="manual">
        <i class="icon-event"></i>
      </button>
      <!--
      <button id="nav-event-list" data-action="list-events"
      	data-toggle="tooltip" data-container="body" data-placement="left" title="Listar eventos visíveis" data-trigger="manual">
        <i class="icon-view-day"></i>
      </button>
      -->
      <button class="centralize" data-action="centralize"
      	data-toggle="tooltip" data-container="body" data-placement="left" title="Centralizar em mim" data-trigger="manual">
        <i class="icon-my-location"></i>
      </button>
    </div>

		<!-- add-event wrapper -->
		<div id="add-event">
			<form>
				<label class="control-label">Quer adicionar um evento ao mapa?</label>
				<div class="bar">
					<input type="text" placeholder="Copie e cole o endereço web do evento do Facebook aqui." />
					<button onClick=""><i class="fa fa-check"></i></button>
				</div>
			</form>
			<div class="blackout" data-action="exit">
				<button title="Sair daqui" data-action="exit" class="close"><i class="icon-close"></i></button>
			</div>
		</div>

		<!-- map and boxs inside it -->
		<div id="map-wrapper">

			<div id="event-list">
			</div>

			<div id="map">
			</div>
		</div>

		<!-- calendar -->
		<div id="calendar">
			<button data-toggle="tooltip" class="close" data-action="exit"><i class="icon-close"></i></button>
			<div id="table">
				<div class="month" data-data="month"></div>
				<table>
					<thead>
						<td>Dom</td><td>Seg</td><td>Ter</td><td>Qua</td><td>Qui</td><td>Sex</td><td>Sáb</td>
					</thead>
					<tbody></tbody>
				</table>
			</div>

			<div class="blackout" data-action="exit">
			</div>
		</div>

		<script src="/static/js/main.min.js"></script>

		{% raw %}
		<script type="text/template" id="ninja-infowindow-template">
			{{#if isLive}}
				<div class="info-window iw-ninja">
					{{#if avatar_url }}
					<div class="block thumbnail">
						<a class="no-underline" target="_blank" href="{{ live_url }}">
							<img src="{{ avatar_url }}"  width="60" />
						</a>
					</div>
					{{/if }}
					<div class="block">
						<a class="no-underline" target="_blank" href="{{ live_url }}">
						<span data="name">
							@{{ screen_name }}
						</span>
						</a>
						<span data="live-status" class="label label-success">Ao vivo: {{ live_viewers_count }} visualizando</span>
						<span data="viewers" class="label label-default">atualizado há {{ lastSaveF }}</span>
					</div>
					<div class="description" style="padding: 0; height: 172px; width: 343px;">
						<embed src="http://twitcasting.tv/swf/livestreamer2.swf" class="player" name="livestreamer" id="livestreamderembed" align="middle" allowscriptaccess="always" allowfullscreen="true" haspriority="true" type="application/x-shockwave-flash" flashvars="user={{ id }}&amp;seed=0&amp;pass=&amp;showitem=0&amp;mute=1&amp;offline=img/off.gif" width="340" height="170">
					</div>
					<div style="text-align: center">
						<div class="btn-group">
							<a style="width: 150px" href="{{ live_url }}" target="_blank" class="btn btn-default"><strong>Assista Agora</strong></a>
							<button class="btn btn-default" onClick="$(this).share({now:true})"
								data-action="share" data-trigger="click" data-url="{{ facebookUrl }}" data-text="{{ screen_name }} está ao vivo no mapa do midianomapa.org">
								Compartilhe <i class="fa fa-share-square"></i>
							</button>
						</div>
					</div>
				</div>
			{{else}}
				<div class="info-window iw-ninja">
					<a class="no-underline" target="_blank" href="{{ live_url }}">
						<div class="block thumbnail">
							<img src="{{ avatar_url }}" />
						</div>
						<div class="block">
							<span data="name">@{{ screen_name }}</span>
							<span data="live-status" class="label label-danger">Não transmitindo</span>
						</div>
					</a>
				</div>
			{{/if}}
		</script>

		<script type="text/template" id="event-infowindow-template">
			<div class="info-window iw-event">
				<div class="title">
					<h4>{{ name }}</h4>
				</div>

				<div class="full-width-box">
					{{#count}}
						<span class="label label-primary" title="{{sub}}">
							{{#loop rank}}<i class="fa fa-male"></i>{{/loop}} {{ num }} confirmados
						</span>
					{{/count}}
					<span class="label label-default"><i class="fa fa-calendar"></i> {{date}}&nbsp;<i class="fa fa-clock-o"></i> {{time}}</span>
					<!-- <span class="label label-warning"><i class="fa fa-map-marker"></i> {{location}}</span> -->
					</i>
				</div>

				{{#unless reviewed}}
					<!-- <div><span class="label label-danger">Esse evento não foi revisado ainda.</span></div> -->
				{{/unless}}

				{{#if description}}
				<div class="description">
					<p>
						{{ description }} [...]
					</p>
				</div>
				{{/if}}

				<div class="full-width-block" style="padding-bottom: 10px">
					<a class="btn btn-primary btn-facebook" href='{{ facebookUrl }}'>
						<strong>Acessar Evento no Facebook</strong>
					</a>
					<button class="btn btn-default" onClick="$(this).share({now:true})"
						data-action="share" data-trigger="click" data-url="{{ facebookUrl }}" data-text="{{name}} (link: {{url}})">
						<strong>Compartilhar <i class="fa fa-share-square"></i></strong>
					</button>

					{% endraw %}
					{% if isMe %}
					{% raw %}
						<a target='_blank' class="btn btn-danger"
							href='/api/events/block/{{id}}?m=<%=process.env.myself%>'>
							<i class="fa fa-trash-o"></i> <strong>Delete</strong>
						</a>
						{{#unless reviewed}}
						<a target='_blank' class="btn btn-success"
							href='/api/events/review/{{id}}?m=<%=process.env.myself%>'>
							<i class="fa fa-check-square-o"></i> <strong>Accept</strong>
						</a>
						{{/unless}}
					{% endraw %}
					{% endif %}
					{% raw %}
				</div>
			</div>
		</script>

		<script type="text/template" id="event-template">
			<div class="title">{{name}}</div>
			<div>
				<div class="label label-success"><i class="fa fa-calendar"></i> {{date}}&nbsp;<i class="fa fa-clock-o"></i> {{time}}</div>
				{{#location}}
					<div class="label label-warning"><i class="fa fa-map-marker"></i> {{.}}</div>
				{{/location}}
				{{#count}}
					<div class="label label-primary" title="{{sub}}">
						<strong>{{ num }} pessoas confirmadas</strong>
						{{#loop rank}}<i class="fa fa-male"></i>{{/loop}}
					</div>
				{{/count}}
			</div>
		</script>
		{% endraw %}

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1421570274723579";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-51719251-1', 'auto');
  ga('send', 'pageview');
</script>
	</body>
</html>
