<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<title>MídiaNoMapa.org</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="csrf-token" content="<%= token %>">
		<meta name="description" content="Acompanhe ao vivo às manifestações no Brasil, com links da mídia indepente.">
		<meta name="keywords" content="Mídia No Mapa, Mídia Independente, Ninja, Facebook, evento, events, 2013, 2014, June Protests, Black Bloc, Protesto, Rio de Janeiro, Brasil">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="width=device-width">

		<meta property="og:title" content="Mídia No Mapa" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.midianomapa.org/" />
		<meta property="og:image" content="http://midianomapa.org/static/img/logo.png" />
		<meta property="og:site_name" content="Mídia No Mapa" />
		<meta property="og:description" content="Acompanhe as Manifestações pelo Brasil." />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></link>

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,500,700|Open+Sans:400italic,400,300,600,700,800">
		<link rel="stylesheet" href="/static/css/main.min.css">
		<script	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyByxi20qUAiWpTmUn9z2qi_iCGVyS_q-zE&sensor=true"></script>
	</head>
	<body>
		<!-- navbar -->
		<header>
			<div class="brand-wrapper">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <i class="fa fa-bars fa-lg"></i>
				</button>
				<a style="margin-bottom: 0" class="btn btn-default navbar-btn visible-xs navbar-toggle" href="/ninja">Marcar Transmissão</a>
				<a class="navbar-brand logo-font" href="../" style="display: inline-block; overflow: hidden; height: 39px">
					<!-- <i class="fa fa-bullhorn fa-lg"></i> -->
					<i style="color: #2ECC71; font-size: 25px; margin-right: -5px; text-shadow: 0 0 2px rgba(0,0,0,.4)" class="fa fa-lg fa-map-marker"></i>
					<span style="vertical-align: top" class="title">&nbsp; MídiaNoMapa.org</span>
				</a>
			</div>

			<div class="misc navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<p class="navbar-text hidden-xs hidden-sm hidden-md">Acompanhe as Manifestações pelo Brasil.</p>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="" href="/ninja" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Colocar a sua cobertura no mapa">
							Adicionar Cobertura
						</a>
					</li>
					<li>
						<a href="#" id="nav-add-event" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Adicionar um evento ao mapa">	
							Adicionar Evento
						</a>
					</li>
					<li>
						<a href="#" id="nav-event-list" data-placement="bottom" data-container="body" title="Listar eventos visiveis na tela." data-toggle="tooltip" data-trigger="hover">
							Listar Eventos
						</a>
					</li>
					<li id="date-wrapper" class="in-lower-bound">
						<button id="date" class="btn btn-default" data-trigger='hover' data-toggle='tooltip' data-placement='bottom' data-html='true' data-container='body' title="Clique aqui para ver apenas os eventos desde dia.">
							<% var today = new Date(new Date().setHours(0,0,0,0)); %>
							<span data-piece="day"><%= (today.getDate()<10?'0':'')+today.getDate() %></span>/<span data-piece="month"><%= (today.getMonth()<9?'0':'')+(today.getMonth()+1) %></span>/<span data-piece="year"><%= today.getFullYear() %></span>
						</button>
						<div class="arrows">
							<button class="arrow" data-action="up"><i class="fa fa-caret-up"></i></button>
							<button class="arrow" data-action="down"><i class="fa fa-caret-down"></i></button>
						</div>
					</li>

					<li class="icon">
						<a id="calendar-icon" data-placement="bottom" data-container="body" href="#" title="Abrir calendário" data-toggle="tooltip" data-trigger="hover">
							<i class="fa fa-calendar"></i>
						</a>
					</li>
					<li class="icon">
						<a href="#" data-action="geolocate" data-placement="bottom" data-container="body" title="Centralizar em mim" data-toggle="tooltip" data-trigger="hover">
							<i class="fa fa-compass"></i>
						</a>
					</li>
					<li class="icon">
						<a href="#chao" data-placement="bottom" data-container="body" title="Sobre o site" data-toggle="tooltip" data-trigger="hover">
							<i class="fa fa-question"></i>
						</a>
					</li>
				</ul>
			</div>
		</header>

		<!-- add-event wrapper -->
		<div id="add-event">
			<form>
				<label class="control-label">Quer adicionar um evento ao nosso mapa?</label>
				<input type="text" placeholder="Copie e cole o endereço web do evento do Facebook aqui.">
				<button onClick=""><i class="fa fa-check"></i></button>
			</form>
			<div class="blackout">
				<button title="Sair daqui" data-action="exit"><i class="fa fa-times fa-lg"></i></button>
			</div>
		</div>
	
		<!-- map and boxs inside it -->
		<div id="map-wrapper">

			<div id="event-list">
			</div>

			<div id="map">
			</div>
		</div>
		
		<!-- calendar -->
		<div id="calendar">
			<div id="table">
				<button title="Fechar calendário." data-toggle="tooltip" data-action="exit"><i class="fa fa-times fa-lg"></i></button>
				<div class="month" data-data="month"></div>
				<table>
					<thead>
						<td>Dom</td><td>Seg</td><td>Ter</td><td>Qua</td><td>Qui</td><td>Sex</td><td>Sáb</td>
					</thead>
					<tbody></tbody>
				</table>
			</div>

			<div class="blackout">
			</div>
		</div>
	
		<!-- footer -->
		<footer id="chao">
			<div class="container">
				<div class="row-fluid">
					<div class="col-md-8 col-sm-12">
						<h4><strong>Pra que serve isso aqui?</strong></h4>
						<p>O midianomapa.org te mostra onde e quando vão acontecer as próximas manifestações populares pelo Brasil. O programa procura por eventos públicos e os identifica no mapa no <strong>Facebook</strong>. Além disso, <strong>você também pode colocar o seu evento aqui.</strong> Se você cobre as manifestações, pode até colocar o seu stream no mapa!</p>

						<h4><strong>Quer colocar a sua cobertura no mapa?</strong></h4>
						<p>Clique no botão de <strong>Adicionar Cobertura</strong> no topo do site. Para isso você deve ter uma conta no TwitCasting.
					</div>
					<div class="col-md-4 col-sm-12 text-center">
						<div><strong>midianomapa.org &reg; 2013</strong></div>
						<div>Esse projeto é <a href="//github.com/f03lipe/midianomapa">open source</a>.</div>
					</div>
					<div class="col-md-4 col-sm-12 text-center">
						<div>
							<small>status: <%= stats.events %> eventos <% if (stats.ninjas) { %>e <%=stats.ninjas%> ninja<%= stats.ninjas>1?'s':'' %> <% } %> distribuídos pelo Brasil.</small>
						</div>
					</div>
					<div class="col-md-4 col-sm-12 text-center">					
						<div id="social-share">
							<!-- <div class="g-plus" data-action="share" data-annotation="bubble"></div> -->
							<div class="fb-like" data-href="http://www.midianomapa.org" data-width="150" data-height="25" data-colorscheme="light" data-layout="button_count" data-action="recommend" data-show-faces="true" data-send="false"></div>
							<a href="https://twitter.com/share" class="twitter-share-button" data-text="Esse site mostra os protestos acontecendo no Brasil usando Facebook! Olha só: midianomapa.org" data-hashtags="midianomapa">Tweet</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
		<script data-main="build/main.min" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js"></script>
		<script>
			requirejs.config({
				appDir: ".",
				baseUrl: "static/js",
				paths: {
					'jquery':['//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min','vendor/jquery-2.0.3.min'],
					'bootstrap':['//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min','vendor/bootstrap-3.0.0.min'],
					'underscore':['//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min','vendor/underscore-1.5.1.min'],
					'backbone':['//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min','vendor/backbone-1.0.0.min'],
					'handlebars':['//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min','vendor/handlebars-1.0.0.min']
				},
				shim:{'underscore':{exports:'_'},'bootstrap':{deps:['jquery']},'backbone':{exports:'Backbone',deps:['underscore','jquery']},'handlebars':{exports:'Handlebars'},}
			});
		</script>
		
		<script>
			require(['jquery','bootstrap'], function ($) {
				$(function () {
					$("[data-toggle=popover]").popover();
					$("[data-toggle=tooltip]").tooltip();
				});
				(function setCSRFToken () {
					$.ajaxPrefilter(function(options, _, xhr) {
						if (!options.crossDomain) {
							xhr.setRequestHeader('X-CSRF-Token',
								$("meta[name='csrf-token']").attr('content'));
						}
					});
				})();
			});
		</script>

		<script type="text/template" id="ninja-infowindow-template">
			{{#if isLive}}
				<div class="info-window iw-ninja">
					{{#if avatar_url }}
					<div class="block thumbnail">
						<a class="no-underline" target="_blank" href="{{ live_url }}">
							<img src="{{ avatar_url }}"  width="60" />
						</a>
					</div>
					{{/if }}
					<div class="block">
						<a class="no-underline" target="_blank" href="{{ live_url }}">
						<span data="name">
							@{{ screen_name }}
						</span>
						</a>
						<span data="live-status" class="label label-success">Ao vivo: {{ live_viewers_count }} visualizando</span>
						<span data="viewers" class="label label-default">atualizado há {{ lastSaveF }}</span>
					</div>
					<div class="description" style="padding: 0; height: 172px; width: 343px;">
						<embed src="http://twitcasting.tv/swf/livestreamer2.swf" class="player" name="livestreamer" id="livestreamderembed" align="middle" allowscriptaccess="always" allowfullscreen="true" haspriority="true" type="application/x-shockwave-flash" flashvars="user={{ id }}&amp;seed=0&amp;pass=&amp;showitem=0&amp;mute=1&amp;offline=img/off.gif" width="340" height="170">
					</div>
					<div style="text-align: center">
						<div class="btn-group">
							<a style="width: 150px" href="{{ live_url }}" target="_blank" class="btn btn-default"><strong>Assista Agora</strong></a>
							<button class="btn btn-default" onClick="$(this).share({now:true})"
								data-action="share" data-trigger="click" data-url="{{ facebookUrl }}" data-text="{{ screen_name }} está ao vivo no mapa do midianomapa.org">
								Compartilhe <i class="fa fa-share-square"></i>
							</button>
						</div>
					</div>
				</div>
			{{else}}
				<div class="info-window iw-ninja">
					<a class="no-underline" target="_blank" href="{{ live_url }}">
						<div class="block thumbnail">
							<img src="{{ avatar_url }}" />
						</div>
						<div class="block">
							<span data="name">@{{ screen_name }}</span>
							<span data="live-status" class="label label-danger">Não transmitindo</span>				
						</div>
					</a>
				</div>
			{{/if}}
		</script>

		<script type="text/template" id="event-infowindow-template">
			<div class="info-window iw-event">
				<div class="title">
					<h4>{{ name }}</h4>
				</div>
				
				<div class="full-width-box">
					{{#count}}
						<span class="label label-primary" title="{{sub}}">
							{{#loop rank}}<i class="fa fa-male"></i>{{/loop}} {{ num }} confirmados
						</span>
					{{/count}}
					<span class="label label-default"><i class="fa fa-calendar"></i> {{date}}&nbsp;<i class="fa fa-clock-o"></i> {{time}}</span>
					<!-- <span class="label label-warning"><i class="fa fa-map-marker"></i> {{location}}</span> -->
					</i>
				</div>
				
				{{#unless reviewed}}
					<!-- <div><span class="label label-danger">Esse evento não foi revisado ainda.</span></div> -->
				{{/unless}}
				
				{{#if description}}
				<div class="description">
					<p>
						{{ description }} [...]
					</p>
				</div>
				{{/if}}
				
				<div class="full-width-block" style="padding-bottom: 10px">
					<div class="btn-group">
						<a class="btn btn-primary btn-facebook" href='{{ facebookUrl }}'>
							<strong>Acessar Evento no <i class="fa fa-facebook-square"></i></strong>
						</a>
						<button class="btn btn-default" onClick="$(this).share({now:true})"
							data-action="share" data-trigger="click" data-url="{{ facebookUrl }}" data-text="{{name}} (link: {{url}})">
							<strong>Compartilhar <i class="fa fa-share-square"></i></strong>
						</button>

						<% if (isMe) { %>
							<a target='_blank' class="btn btn-danger"
								href='/api/events/block/{{id}}?m=<%=process.env.myself%>'>
								<i class="fa fa-trash-o"></i> <strong>Delete</strong>
							</a>
							{{#unless reviewed}}
							<a target='_blank' class="btn btn-success"
								href='/api/events/review/{{id}}?m=<%=process.env.myself%>'>
								<i class="fa fa-check-square-o"></i> <strong>Accept</strong>
							</a>
							{{/unless}}
						<% } %>
					</div>
				</div>
			</div>
		</script>

		<script type="text/template" id="event-template">
			<div class="title">{{name}}</div>
			<div>
				<div class="label label-success"><i class="fa fa-calendar"></i> {{date}}&nbsp;<i class="fa fa-clock-o"></i> {{time}}</div>
				{{#location}}
					<div class="label label-warning"><i class="fa fa-map-marker"></i> {{.}}</div>
				{{/location}}
				{{#count}}
					<div class="label label-primary" title="{{sub}}">
						<strong>{{ num }} pessoas confirmadas</strong>
						{{#loop rank}}<i class="fa fa-male"></i>{{/loop}}
					</div>
				{{/count}}
			</div>
		</script>
		
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1421570274723579";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-51719251-1', 'midianomapa.org');
  ga('send', 'pageview');
</script>
	</body>
</html>
