<% var daysFromToday = function (arg) {
	return Math.round((new Date()-new Date(arg))/(1000*60*60*24));
} %>

<li class="post">
	<div class="title">
		<% if (post.title) { %>
			<h3><a href="<%= post.short_url %>"><%= post.title %></a></h3>
		<% } %>
		<% var days = daysFromToday(post.date) %>
		<% if (days === 0) { %>
			<small class="">Hoje</small>
		<% } else { %>
			<small class=""><%=days%> dia<%=days>1?"s":""%> atrás</small>
		<% } %>
	</div>
	<% if (post.type === 'photo') { %>
		<% for (var i=0; i<post.photos.length; i++) { %>
			<% var photo = post.photos[i]; %>
			<a href="<%=post.short_url%>"><img src="<%=photo.alt_sizes[0].url%>" /></a>
		<% } %>
	<% } else { %>
		<div class="body">
			<p><%= post.body %></p>
		</div>
	<% } %>
	<div>
		tags:
		<% for (var i=0; i<post.tags.length; i++) { %>
			<% var tag = post.tags[i]; %>
			<a class="label label-success" href="http://<%=post.blog_name%>.tumblr.com/tagged/<%=tag%>">
				<i class="icon-tag"></i> <%= tag %></a>
		<% } %>
	</div>
</li>